<ion-tabs>

  <ion-tab-bar color="primary" mode="ios" slot="bottom">
    <ion-tab-button tab="tab1" mode="ios">
      <ion-icon name="contact" mode="ios"></ion-icon>
      <ion-label>For you</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" mode="ios">
      <ion-icon name="globe" mode="ios"></ion-icon>
      <ion-label>Headlines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" mode="ios">
      <ion-icon name="star-outline" mode="ios"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>