<ion-header no-border mode="ios">

  <ion-toolbar color="primary" mode="ios">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-segment #segment (ionChange)="segmentChange($event)" scrollable mode="ios" color="primary">

  <ion-segment-button mode="md" *ngFor="let categoria of categorias" [value]="categoria">
    <ion-label class="ion-text-capitalize">{{ categoria }}</ion-label>
  </ion-segment-button>

</ion-segment>

<ion-content color="light">

  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando noticias...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
